export("summary",
       "show",
       "formatTagdata",
       "lenW_BET",
	"lenW_SKJ",
	"lenW_YFT",
	"lenW_LTA",
	"matchTagsA",
	"spatialVectors",
	"timeVectors",
	"tagDataValidation",
	"distance",
	"fplot",
	"mapPoints",
	"relRecTimeSeries",
	"relRecSummaryTab",
	"mapTrack",
	"mapHexbin",
	"mapScatterpie",
	"mapPoints",
	"TagSheddingTab",
	"ChemTaggingTab",
	"TagSeedingTab",
	"cleanTagData",
	"nTagsRelByCountry",
	"nElectronicTagsTab",
	"mapPointsSpeciesByMonth",
	"growthTrack",
	"convertPointToLine")
exportClasses("FLTag")
exportMethods("FLTag",
              "I",
              "O")
